.App {
  min-height: 100vh;
  background-image: linear-gradient(pink);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  padding: 10px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
